requests
beautifulsoup4
pandas
numpy==1.26.4
tabulate
colorama
scikit-learn
catboost
imbalanced-learn
lightgbm
optuna
shap
xgboost
psycopg2-binary
category_encoders
feature-engine
hyperopt
pytorch-tabnet
scipy
playwright
dnfile
networkx
python-louvain
groq
sqlalchemy
python-dateutil
python-dotenv
tavily-python
anthropic
